# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app_

# Custom
mir-builder.*
build
Technical_Test_-_Software_Engineer_-_Mir_-_Google_Docs.pdf
.cache
temp-build

*.snap
